@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@plugin "@tailwindcss/typography";

@layer utilities {
	@media print {
		.no-print {
			display: none !important;
		}

		main {
			width: 720px;
			max-width: 100%;
			padding: 0;
		}

		body {
			background: white;
		}
	}
}
