---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, 'inline-block px-1 py-1 transition-colors border-b-2 border-transparent', { 'text-[#D66D50] font-bold border-[#D66D50]': isActive, 'text-[#5C5855] hover:text-[#D66D50]': !isActive }]} {...props}>
	<slot />
</a>
